body {

    width: 100%;
    /* background-color: rgb(170, 138, 138); */
    background-image: url("../images/iceOnWindow.jpg");
    background-repeat: no-repeat;
    background-image: cover;
    background-position: center;
}

/* url("../images/questionmarks.jpg"); */
header {
    /*float: left;*/
    background-color: #4aaaa5;
    border-radius: 4%;
    width: 90%;
    padding: 2%;
    margin: 2%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#365b51+5,6dbfa1+99,7cbcb8+99 */
    background: #365b51;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #365b51 5%, #6dbfa1 99%, #7cbcb8 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #365b51 5%, #6dbfa1 99%, #7cbcb8 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #365b51 5%, #6dbfa1 99%, #7cbcb8 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#365b51', endColorstr='#7cbcb8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

/* 
.navbar {

    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
} */

nav {

    width: 90%;
}

.decoration {
    height: 5%;
    border-top: 3px solid #4aaaa5;
    padding: 2%;
    margin: 2%;
    width: 92%;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 4px;
    background-color: #225c59;
    color: white;
}

button:hover {
    border-radius: 4px;
    background-color: rgb(3, 63, 63);
    color: white;
    border: 2px solid black;
}

h1,
h4 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h2 {
    color: #4aaaa5;
}

section {

    background-color: rgb(19, 19, 41);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#18447c+2,99dbdd+100,a2c8e5+100 */
    background: #18447c;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #010a16 2%, #a2c8e5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #010a16 2%, #4d6272 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #010a16 2%, #4d6272 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18447c', endColorstr='#a2c8e5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 4%;
    padding: 2%;
    margin: 2%;
    width: 92%;
}

.gallery {
    padding: 2%;
    margin: 2%;
    width: 42%
}

.Monica {
    float: left;
    padding: 1%;
    margin: 1%;
    width: 25%
}

.tall {
    clear: both;
    float: left;
    padding: 2%;
    margin: 2%;
    width: 42%
}


.text-block {
    width: 100%;
    height: 10%;

    bottom: 2%;
    right: 25%;
    background-color: rgb(3, 63, 63);
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

input {
    display: block;
    align-self: center;
    width: 50%;
    padding: 2%;
    margin: 2%;
}

.teal {
    background-color: #1b5754;
    color: white;
    border: solid 4%;
    border-radius: 16%;
    font-size: 24px;
}

p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    width: 96%;
    color: rgb(211, 226, 228);
}

.footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    height: 40px;
    padding: 4px;
    margin: 10px;
    border-top: solid 3px #4aaaa5;
    text-align: center;

}

/* 
#linkedin {
    padding-left: 30px;
    background-image: url('../images/linkedinLogo.jpg');
    height: 30px;
    line-height: 30px;
} */

#github {
    padding-left: 40px;
    background-image: url("../images/github-logo.png");
    height: 40px;
    line-height: 40px;
}

/* .websitelinks {
    padding: 4%;
    margin: 4%;
    border: 4%
} */

.entry-social {
    margin-bottom: 20px;
    color: rgb(126, 126, 126);
    display: block;
    font-family: 'Open Sans', Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 23.799999237060547px;
    margin-bottom: 20px;
    width: 100%;
    width: 100%;
    float: left;
    border: solid 0px #aaa;
    text-align: center;
}

.entry-social div {
    display: block;
    /* width: 138px; */
    margin: 2px;
    display: inline-block;
    /* vertical-align: middle; */
}

.entry-social a {
    text-decoration: none;
    display: block;
    padding-left: 20px;
    color: #FFFFFF !important;
    font-weight: bold;
    transition: background-color .3s;
}


.entry-social .linkedin a {
    padding: 7px 10px 7px 32px;
    background: #136F9B url('https://4.bp.blogspot.com/-yuEMxhpIXPc/UeDltjBGR1I/AAAAAAAAAr4/kgidavlGbY8/s1600/linkedin14.png') no-repeat 10px center;
    padding-left: 30px;
    /* background-image: url('../images/linkedinLogo.jpg'); */
    height: 30px;
    line-height: 30px;
}


.entry-social .linkedin a:hover {
    background-color: rgb(15, 89, 125);
}

/* .entry-social .github a {
    padding: 7px 10px 7px 32px;
    background: #136F9B url('https://4.bp.blogspot.com/-yuEMxhpIXPc/UeDltjBGR1I/AAAAAAAAAr4/kgidavlGbY8/s1600/linkedin14.png') no-repeat 10px center;
    padding-left: 30px;
    /* background-image: url('../images/linkedinLogo.jpg'); */
height: 30px;
line-height: 30px;
}


.entry-social .github a:hover {
    background-color: rgb(15, 89, 125);
}

.bg-default{
    background-color:#225c59:
}